*{
    margin: 0px;
    padding: 0px;
}

:root{
    --informativa:#0000ff;
}

span{
    background-color: green;
}
.informativa{
    background-color: var(--informativa);
    color: antiquewhite;
    margin-top: 10px;
    
}


@keyframes rotateText {
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
  
  }

  .animated-text {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #088ee8;
    animation: rotateText 9s linear infinite;
  }