*{
    margin: 0px;
    padding: 0px;
}

:root{
    --informativa:#0000ff;
}

span{
    background-color: green;
}
.informativa{
    background-color: var(--informativa);
    color: antiquewhite;
    margin-top: 10px;
    
}