*{
    margin: 0px;
    padding: 0px;
}

:root{
    --informativa:#0000ff;
}

span{
    background-color: green;
}
.informativa{
    background-color: var(--informativa);
    color: antiquewhite;
    margin-top: 10px;
    
}


@keyframes rotateText {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animated-text {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #3498db;
    animation: rotateText 5s linear infinite; /* 5s para 5 segundos de duração, linear para uma transição suave, infinite para repetir a animação infinitamente */
  }